<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-latest.xsd">

  <changeSet id="79" author="xezzon">
    <createTable tableName="zeroweb_zpp">
      <column name="id" type="VARCHAR(64)" remarks="服务标识">
        <constraints primaryKey="true" nullable="false"/>
      </column>
      <column name="name" type="VARCHAR(255)" remarks="服务名称">
        <constraints nullable="false"/>
      </column>
      <column name="base_url" type="VARCHAR(2083)" remarks="服务基础访问路径">
        <constraints nullable="false"/>
      </column>
      <column name="ordinal" type="INTEGER" remarks="排序号">
        <constraints nullable="false"/>
      </column>
    </createTable>
  </changeSet>
</databaseChangeLog>
